@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FCFCFC; /* editor.bg */
  --foreground: #5C6166; /* editor.fg */
  --primary: #FFAA33; /* common.accent */
  --primary-foreground: #FCFCFC; /* match background for contrast */
  --secondary: #F3F4F5; /* ui.panel.bg */
  --secondary-foreground: #5C6166; /* editor.fg */
  --muted: #F8F9FA; /* ui.bg */
  --muted-foreground: #8A9199; /* ui.fg */
  --accent: #FFAA33; /* common.accent */
  --accent-foreground: #5C6166; /* editor.fg */
  --destructive: #E65050; /* common.error */
  --destructive-foreground: #FCFCFC; /* editor.bg */
  --border: rgba(107, 125, 143, 0.12); /* ui.line */
  --ring: rgba(3, 91, 214, 0.15); /* editor.selection.active */
}


[data-theme="dark"] {
  --background: #0D1017; /* editor.bg */
  --foreground: #BFBDB6; /* editor.fg */
  --primary: #E6B450; /* common.accent */
  --primary-foreground: #0D1017; /* background for contrast */
  --secondary: #0F131A; /* ui.panel.bg */
  --secondary-foreground: #BFBDB6; /* editor.fg */
  --muted: #0B0E14; /* ui.bg */
  --muted-foreground: #565B66; /* ui.fg */
  --accent: #E6B450; /* common.accent */
  --accent-foreground: #0D1017; /* background */
  --destructive: #D95757; /* common.error */
  --destructive-foreground: #FCFCFC; /* light text on destructive bg */
  --border: #11151C; /* ui.line */
  --ring: rgba(64, 159, 255, 0.3); /* editor.selection.active */
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}
